/* css/style.css */

/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #333333; 
    display: flex;
    flex-direction: column;  
    min-height: 100vh;  
    margin: 0;
    padding: 0;
}


header {
    margin: 0;
    padding: 1rem 0;
    background-color: #005B96;
    color: white;
    position: relative;
    width: 100%;
    text-align: center;
}


nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    background-color: #4DA6FF;
    width: 100%;
    position: sticky;
    top: 0;
}
    

nav a {
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #FFD966;
}

main {
    padding: auto;
}

footer {
    padding: 1rem 0;
    background-color: #005B96;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: auto;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}

.image-accessibility{
    width: 100%;
    height: auto;
}

table.firstsem, table.secondsem, table.thirdsem, table.fourthsem, table.fifthsem, table.sixthsem {
    border: 1px, solid;
    text-align: left;
}

.firstyear th, td {
border: 1px solid;
}
.secondyear th, td {
    border: 1px solid; 
}
.thirdyear th, td {
    border: 1px solid;
}

.firstyear th, .secondyear th, .thirdyear th {
    color: #005B96;
}

.firstyear, .secondyear, .thirdyear{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
}
    
/* Activity page */

.cars img{
    width: 18.75rem;
    height: 12.5rem;
}

.cars img:hover{
    transform: scale(1.1); /* ha med eller ikke? + ha med article class eller ikke? */
}

.Porsche-photo, .Tesla-photo{
    object-fit: cover;
}

.row1cars, .row2cars{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 1rem;
}
